* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  font-size: 28px;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.todoForm label {
  display: flex;
  flex-direction: column;
}

.todoForm input {
  border: none;
  border-bottom: 1px solid #dfdfdf;
  outline: none;
  padding: 10px 15px;
}

.nothing {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
}

.todoItem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.todoCheckbox {
  position: relative;
  flex: 0 1 auto;
  padding: 10px 0;
  cursor: pointer;
}

.todoCheckbox>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.todoCheckbox>span::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #dfdfdf;
}

.todoCheckbox>span::after {
  position: absolute;
  top: 11px;
  left: 1px;
  content: '';
  display: none;
  width: 12px;
  height: 12px;
  background-color: #dfdfdf;
  border: 2px solid #fff;
  border-radius: 50%;
}

.todoCheckbox>input:checked+span::before {
  border: 1px solid #564bf1;
  background-color: #564bf1;
}

.todoCheckbox>input:checked+span::after {
  display: block;
  background-color: #564bf1;
}

.todoContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #dfdfdf;
}

.todoContent button {
  height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
}

.todoContent button svg {
  width: 15px;
  height: 15px;
}

.todoItem:hover .todoContent button {
  display: flex;
}

.toastify {
  background: none !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(10px);
  color: black !important;
}